@font-face 
{ 
  font-family: Typoo;
  src: url(../static/Raleway-Medium.ttf);
}
@font-face 
{ 
  font-family: TypooGras;
  src: url(../static/Raleway-Black.ttf);
}
@font-face 
{ 
  font-family: Typoolight;
  src: url(../static/Raleway-Light.ttf);
}
@font-face 
{ 
  font-family: TypooItalic;
  src: url(../static/Raleway-BoldItalic.ttf);
}
body
{
    /*background-color: chartreuse;*/
    /*margin-left: auto;
    margin-right: auto;
    /*width: %;*/
    position: absolute; /* postulat de départ */
    /*top: 50%; */
    left: 25%;
    right: 25%;
        
}
.Left
{
  float: left;
  /*border: 1px solid #000000;
  padding: 1em;*/
    /*background-color: aqua;*/
}

.Right
{
 margin-top: 2%;
    margin-left: 8%;
  float: left;
  width: 55%;
    /*background-color: blueviolet;*/
}

.Photo
{
   width:200px;
   clip-path:ellipse(50% 50%);
    display: block;
    margin-left: auto;
    margin-right: auto
}

#Site
{
    font-family: TypooItalic;
    text-decoration:none; 
    color: black;
} 
h3
{
    margin-top: 30px;
    font-family: Typoo;
}
h2
{
    margin-top: 30px;
    margin-bottom: 2px;
    font-family: TypooGras;
}

li, p
{
    font-family: Typoolight;
}
p
{
    font-size: 12.5px;
    margin-bottom: 47px;
}
.mini
{
    font-size: 12px
}
.list
{
    list-style:none;
}
span
{
    font-size: 10px;
}
#Lien
{
    font-family: Typoo;
    color: black;
    text-decoration: none;
}
#Info
{
   list-style: none;
}

img
{
    display: block;
    margin: 0px;
    max-width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;/*230px;*/
}
